* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: var(--primary-color);
}